.gear__notification {
  position: relative;
}

.recommended-friends {
  border-top: var(--main-border);
  padding: 15px 0px;
}

.recommended-friends__title {
  font-size: var(--font-size-xs);
  color: var(--gray);
}

.recommended-friends span {
  margin: 80px 0;
  display: block;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--gray);
}

.open-chat {
  border-top: var(--main-border);
  padding: 15px 0px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin-bottom: 25px;
}

.open-chat__header span {
  font-size: var(--font-size-xs);
  opacity: 0.8;
}
.open-chat__title {
  font-size: var(--font-size-xs);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: var(--font-size-sm);
}

.open-post__hashtags {
  text-transform: uppercase;
  color: var(--gray);
  font-size: var(--font-size-xs);
}

.open-post__members {
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: var(--font-size-xs);
}

.open-post__members img {
  margin-right: 5px;
}

.open-post__member-count {
  color: var(--gray);
}

.open-post__members .divider {
  width: 2px;
  height: 10px;
  margin: 0 5px;
  background-color: var(--main-opacity);
}

.open-post__member-status {
  color: #ffb0e0;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(3);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__photo {
  position: relative;
}

.open-post__photo:hover .open-post__heart-count i {
  animation: heartBeat 900ms ease-in-out infinite;
}

.open-post__photo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: var(--gray);
  color: white;
  padding: 3px 5px;
  border-radius: 10px;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 3px;
  font-size: var(--font-size-xs);
}

.open-post__heart-count span {
  margin-left: 3px;
}

.open-post__photo a {
  display: none;
}
