#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
  color: var(--brown);
  margin-bottom: 5px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: var(--gray);
  font-size: var(--font-size-sm);
}

.friends-screen__box {
  margin-top: 15px;
  border-top: var(--main-border);
  padding-top: 10px;
}
