#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
  color: var(--brown);
  margin-bottom: 5px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: var(--gray);
  font-size: var(--font-size-sm);
}

.friends-screen__box {
  margin-top: 15px;
  border-top: var(--main-border);
  padding-top: 10px;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--gray);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.3s ease-out forwards;
  animation-delay: 1s;
}

#splash-screen img {
  width: 200px;
  height: 300px;
}
