/* welcome-header */
.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.welcome-header__img {
  width: 80px;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 700;
  transition: color 1s ease-out;
}

.welcome-header__title:hover {
  color: var(--yellow);
}

.welcome-header__text {
  width: 60%;
  opacity: 0.6;
  transition: color 1s ease-in-out, opacity 1s ease-in-out;
}

.welcome-header__text:hover {
  color: var(--brown);
  opacity: 1;
}

/* login-form */
.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.login-form input {
  border: none;
  padding: 20px 0px;
  font-size: 15px;
  margin-bottom: 20px;
}

.login-form__input::placeholder {
  font-family: "Edu NSW ACT Foundation", cursive;
  color: var(--gray);
}

.login-form__input:focus {
  border-color: var(--brown);
}

.login-form__btn {
  background-color: var(--brown);
  opacity: 0.9;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Edu NSW ACT Foundation", cursive;
}

.login-form__a {
  text-align: center;
  font-size: 13px;
}
