.status_bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  cursor: default;
  border-bottom: var(--main-border);
  background-color: white;
  z-index: 2;
}

.status_bar div {
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.status_bar__column {
  width: 33%;
}

.status_bar__column:first-child span {
  margin-right: 5px;
}

.status_bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status_bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}

.status_bar__column #battery_level_icon {
  margin: 0px 5px;
}
