.badge {
  background-color: tomato;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  font-size: var(--font-size-sm);
}

.badge--dot {
  background-color: tomato;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
