.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box; /* 마법의 줄 */
  background-color: #f9f9fa;
  padding: 20px 40px;
  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--brown);
  position: relative;
}

.nav__notification {
  right: -10px;
  bottom: 15px;
  position: absolute;
}

.nav__notification--dot {
  right: -5px;
  bottom: 25px;
}
