.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--horizontal-space);
  padding: var(--horizontal-space);
}

.screen-header__title {
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__notification--dot {
  right: -8px;
  top: -3px;
  position: absolute;
}
