.user-component {
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 20px;
  border: var(--main-border);
}

.user-component__title {
  font-weight: 700;
  font-size: var(--font-size-lg);
}
.user-component__title--sm {
  font-weight: 700;
  font-size: var(--font-size-sm);
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: var(--font-size-sm);
  display: flex;
}
.user-component__subtitle--sm {
  margin-top: 8px;
  font-size: var(--font-size-xs);
}

.user-component__avatar--xl {
  width: 60px;
  height: 60px;
}

.user-component__avatar--sm {
  width: 40px;
  height: 40px;
}

.user-component__avatar--xs {
  width: 20px;
  height: 20px;
}
.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 5px;
}

.user-component__notification {
  color: tomato;
  margin-left: 5px;
}

.user-component__text h6 {
  font-size: var(--font-size-xs);
}
