.setting_screen {
  margin: 100px 0px;
}

.settings__setting {
  color: var(--brown);
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting span:first-child {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.settings__setting_column:first-child {
  display: flex;
  width: 50vw;
  justify-content: flex-start;
}

.settings__setting_column:first-child div {
  margin-left: 10px;
}

.settings__setting_column:last-child {
  opacity: 0.5;
}
