.alt_header {
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px var(--horizontal-space);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 1;
}
/* 핵 */
.alt_header__column {
  width: 33%;
}

.alt_header__column:first-child {
  margin-right: auto;
}

.alt_header__column:nth-child(2) {
  text-align: center;
}

.alt_header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt_header__title {
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.alt_header__column span:last-child {
  margin-left: 20px;
}
