.icon_row {
  display: flex;
  padding-bottom: 25px;
}

.icon_row__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--brown);
}

.icon_row__icon svg {
  font-size: var(--font-size-lg);
}

.icon_row__icon span {
  margin-top: 15px;
  font-size: var(--font-size-sm);
  text-align: center;
}
