.screen_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--horizontal-space);
  padding: var(--horizontal-space);
}

.screen_header__title {
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.screen_header__icons span {
  margin-left: 25px;
}

.screen_header__notification__dot {
  right: -8px;
  top: -3px;
  position: absolute;
}
@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen_header__icons .fa-gear:hover {
  animation: rotateGear 2s linear infinite;
}

.gear__notification {
  position: relative;
}
